<main class="d-flex min-vh-100">
  <fieldset class="container  mt-5">
    <legend *ngIf="todo && todo.aufgabe && todo.frist">Aktualisieren von Todo: "{{ todo.aufgabe }}" bis zum "{{ todo.frist }}"</legend>
    <legend *ngIf="todo && (!todo.aufgabe || !todo.frist)">ToDo Aktualisieren</legend>
    <form [formGroup]="form" (ngSubmit)="update()"> <!-- beim Absenden des Fromulars wird update()-Fkt. aufgerufen -->
      <div class="mb-3 row">
         <label class="col-2 col-form-label" for="aufgabe">Aufgabe</label>
        <div class="col-10">
          <input type="text" class="form-control" id="aufgabe" placeholder="Aufgabe"
          formControlName="aufgabeControl" />
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-2 col-form-label" for="beschreibung">Beschreibung</label>
        <div class="col-10">
          <input type="text" class="col-10 form-control" id="beschreibung" placeholder="Beschreibung"
          formControlName="beschreibungControl" />
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-2 col-form-label" for="frist">Fälligkeitsdatum</label>
        <div class="col-10">
          <input type="text" class="col-10 form-control" id="frist" placeholder="Frist" formControlName="fristControl" />
        </div>
      </div>
      <div class="row ">
        <button type="submit" class="col-5 btn btn-secondary">Aktualisieren</button>
        <div class="col-2"></div>
        <button type="button" class="col-5 btn btn-secondary" (click)="cancel() ">Abbrechen</button> <!-- am Click-Ereignis angemeldet, ruft die Fkt. cancel() auf -->
      </div>
    </form>
  </fieldset>
</main>
