<main class="d-flex min-vh-100">
  <fieldset class="container mt-0 bg-light p-4">
    <h1 class="mb-4" *ngIf="todo && todo.aufgabe && todo.frist">Aktualisieren von Todo: "{{ todo.aufgabe }}" bis zum "{{ todo.frist }}"</h1>
    <!-- 1. ngIf wird ausgeführt, wenn todo und die angegeben Eigenschaften definiert sind -->
    <h1 class="mb-4" *ngIf="todo && (!todo.aufgabe || !todo.frist)">ToDo aktualisieren</h1>
    <form [formGroup]="form" (ngSubmit)="update()"> <!-- beim Absenden des Formulars wird update()-Fkt. aufgerufen -->
      <div class="row mb-4">
        <div class="col">
          <label class="form-label" for="aufgabe">Aufgabe</label>
          <input type="text" class="form-control" id="aufgabe" placeholder="Was möchtest du erledigen?" formControlName="aufgabeControl" />
        </div>
      </div>
      <div class="row mb-4">
        <div class="col">
          <label class="form-label" for="beschreibung">Beschreibung</label>
          <input type="text" class="form-control" id="beschreibung" placeholder="Erzähl uns mehr!" formControlName="beschreibungControl" />
        </div>
      </div>
      <div class="row mb-4">
        <div class="col">
          <label class="form-label" for="frist">Fälligkeitsdatum</label>
          <input type="text" class="form-control" id="frist" placeholder="TT.MM.JJJJ HH:MM" formControlName="fristControl" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary me-3">Speichern</button>
          <button type="button" class="btn btn-outline-secondary" (click)="cancel()">Abbrechen</button> <!-- am Click-Ereignis angemeldet, ruft die Fkt. cancel() auf -->
        </div>
      </div>
    </form>
  </fieldset>
</main>
