<body>
  <main class="d-flex flex-column align-items-center justify-content-center min-vh-100">
    <h1>Willkommen bei ToDoodle</h1>
    <p>Hier können Sie all Ihre Aufgaben an einem Ort organisieren und produktiver arbeiten. <br>
       Legen Sie los und erstellen Sie Ihre nächste Aufgabe!</p>
    <div class="d-flex flex-row mt-4">
      <a routerLink="/login" class="btn btn-secondary me-2">Login</a>
      <a routerLink="/register" class="btn btn-secondary">Registrierung</a>
    </div>
  </main>
</body>

<!-- zu Bootstrap: Element wird eine flexible Box, die darin enthaltenen Elemente sind horizontal ausrichtet und in der Mitte des vertikalen Bildschirms zentriert -->
<!-- Attribut "min-vh-100" sorgt dafür, dass das Element mindestens die Höhe des gesamten Viewports einnimmt -->
