<body>
	<main class="d-flex align-items-center min-vh-100">
  		<div class="container text-center">
        <a [routerLink]="'login'" id="text1" class="font-class">Login</a>
        <a [routerLink]="'register'" id="text2" class="font-class">Register</a>
        <a [routerLink]="'mytasklist'" id="text3" class="font-class">MyTaskList</a>
     </div>
	</main>
</body>

<!-- zu Bootstrap hier: Element wird eine flexible Box, die die darin enthaltenen Elemente horizontal ausrichtet und in der Mitte des vertikalen Bildschirms zentriert -->
<!-- Das Attribut "min-vh-100" sorgt dafür, dass das Element mindestens die Höhe des gesamten Viewports einnimmt -->
