/** CSS-Eigenschaften für die Home-Komponente **/
body {
  background: url('../../assets/hintergrund1.jpg') no-repeat center center fixed;
  background-size: cover;
}

main{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 30px;
  text-align: center;
  display: flex;
  justify-content: center;

}

/* ---------- RWD für Desktop ------------- */
@media only screen and (min-width:1201px) {
  #text1 {
    bottom: 31%;
  }
  #text2 {
    bottom: 23%;
  }
  #text3 {
    bottom: 15%;
  }

  .font-class{
    font-size: 40px;
  }
}

@media only screen and (max-width:1199px) {
  #text1 {
    bottom: 34%;
  }
  #text2 {
    bottom: 27%;
  }
  #text3 {
    bottom: 20%;
  }

  .font-class{
    font-size: 30px;
  }
}

/* RWD für Tablet (IPad) */
@media only screen and (device-width: 1366px) and (device-height: 1024px) {
  #text1 {
    top: 60%;
  }
  #text2 {
    top: 67%;
  }
  #text3 {
    top: 74%;
  }

  .font-class{
    font-size: 35px;
  }
}

/* -------------- RWD für Smartphones -------------------- */
/* Wir haben für jede Smartphone Marke nur ein Gerät ausgewählt, theoretisch kann man das für jede Art von Handy anpassen */
/* Galaxy Note 20: 412 x 915 */
@media only screen and (device-width: 412px) and (device-height: 915px) {
  #text1 {
    bottom: 37%;
  }
  #text2 {
    bottom: 31%;
  }
  #text3 {
    bottom: 25%;
  }

  .font-class{
    font-size: 28px;
  }
}
/* das gleiche Gerät in Querformat */
@media only screen and (device-width: 915px) and (device-height: 412px) {
  #text1 {
    top: 59%;
  }
  #text2 {
    top: 68%;
  }
  #text3 {
    top: 77%;
  }

  .font-class{
    font-size: 28px;
  }
}

/* IPhone 11 Pro */
@media only screen and (device-width: 375px) and (device-height: 812px) {
  #text1 {
    bottom: 36%;
  }
  #text2 {
    bottom: 29%;
  }
  #text3 {
    bottom: 22%;
  }

  .font-class{
    font-size: 28px;
  }
}
/* gleiches Gerät in Querformat */
@media only screen and (device-width: 812px) and (device-height: 375px) {
  #text1 {
    top: 59%;
  }
  #text2 {
    top: 68%;
  }
  #text3 {
    top: 77%;
  }

  .font-class{
    font-size: 23px;
  }
}

/* ----------- RWD für den Hintergrund ------------- */
/* Hintergrundbild für Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    /*background-image: url('../../assets/hintergrund.jpg');
    background-size: cover;*/
  }
  #text1 {
    bottom: 35%;
  }
  #text2 {
    bottom: 28%;
  }
  #text3 {
    bottom: 21%;
  }
}

/* Hintergrundbild für Desktops */
@media (min-width: 1024px) {
  body {
   /* background-image: url('../../assets/hintergrund.jpg');
    background-size: cover;*/
  }
}

/* ---------- Zusatz ----------
Cover-Eigenschaft sorgt dafür, dass das Hintergrundbild den gesamten Hintergrund abdeckt, unabhängig von der Größe des Bildschirms.
Das bedeutet, dass das Bild möglicherweise nicht in voller Größe auf allen Bildschirmen zu sehen ist
*/



