<body>
	<main class="d-flex align-items-center min-vh-100 ">
    Willkommen bei unserer Todo-Liste. <br>
    Hier können Sie all Ihre Aufgaben an einem Ort organisieren und produktiver arbeiten.<br>
    Legen Sie los und erstellen Sie Ihre erste Aufgabe!
	</main>
</body>

<!-- zu Bootstrap: Element wird eine flexible Box, die darin enthaltenen Elemente sind horizontal ausrichtet und in der Mitte des vertikalen Bildschirms zentriert -->
<!-- Attribut "min-vh-100" sorgt dafür, dass das Element mindestens die Höhe des gesamten Viewports einnimmt -->
