/*main {
  background-color: bisque;
}*/

body {
  background: url('../../assets/hintergrund.jpg') no-repeat center center fixed;
  background-size: cover;
}

#text1 {
  font-family: cursive;
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 33%;
}

#text2 {
  font-family: cursive;
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 25%;
}

#text3 {
  font-family: cursive;
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 17%;
}


/** RWD **/
/* Hintergrundbild für Mobilgeräte */
@media (max-width: 768px) {
  body {
    background-image: url('../../assets/hintergrund.jpg');
    background-size: cover;
  }
}

/* Hintergrundbild für Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    background-image: url('../../assets/hintergrund.jpg');
    background-size: cover;
  }
}

/* Hintergrundbild für Desktops */
@media (min-width: 1024px) {
  body {
    background-image: url('../../assets/hintergrund.jpg');
    background-size: cover;
  }
}

/**
Cover-Eigenschaft sorgt dafür, dass das Hintergrundbild den gesamten Hintergrund abdeckt, unabhängig von der Größe des Bildschirms.
Das bedeutet, dass das Bild möglicherweise nicht in voller Größe auf allen Bildschirmen zu sehen ist
**/
