<main class="d-flex min-vh-100">
  <fieldset class="container  mt-5">
  <h1>Neue ToDo</h1>
    <form [formGroup]="form" (ngSubmit)="create()">
      <div class="mb-3 row">
        <label class="col-2 col-form-label" for="aufgabe">Aufgabe</label>
        <div class="col-10">
          <input type="text" class="form-control" id="aufgabe" placeholder="Was möchtest du erledigen? "
                 formControlName="aufgabeControl" />
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-2 col-form-label" for="beschreibung">Beschreibung</label>
        <div class="col-10">
          <input type="text" class="col-10 form-control" id="beschreibung" placeholder="Erzähl uns mehr!"
                 formControlName="beschreibungControl" />
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-2 col-form-label" for="frist">Fälligkeitsdatum</label>
        <div class="col-10">
          <input type="text" class="col-10 form-control" id="frist" placeholder="Bis wann soll das erledigt sein?" formControlName="fristControl" />
        </div>
      </div>
      <div class="row ">
        <button type="submit" class="col-5 btn btn-secondary" (click)="create()" >Speichern</button>
        <div class="col-2"></div>
        <button type="button" class="col-5 btn btn-secondary" (click)="cancel() ">Abbrechen</button> <!-- am Click-Ereignis angemeldet, ruft die Fkt. cancel() auf -->
      </div>
    </form>
  </fieldset>
</main>

