body {
  background-color: #f8f9fa;
}

h1 {
  color: #333;
  margin-top: 3rem; /* fügt etwas Abstand hinzu */
}

p {
  color: #555;
}

/* Fügt Abstand zwischen dem Text und dem Button hinzu */
.lead {
  margin-bottom: 2rem;
}

/* Ändert die Farbe des Buttons */
.btn-secondary {
  color: #555;
  background-color: #fff;
  border-color: #ddd;
}

/* Fügt einen Schatten hinzu */
.btn-secondary:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

