<div class="container mt-3">
  <h3 class="m-3">Alle Einträge</h3>
  <div class="table-responsive">
    <table class="m-3 table table-striped table-hover">
      <caption>Alle <code>members</code></caption>
      <thead>
      <tr>
        <th scope="col ">Nr</th>
        <th scope="col ">Completed</th>
        <th scope="col ">Task</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let todo of todos; let i=index; ">
        <td>{{ i+1 }}</td>
        <td>{{ todo.task }}</td>
        <td>{{ todo.completed }}</td>
        <td>
          <a [href]="'mailto:' + todo.email"><span class="bi bi-envelope px-5"></span></a>
          <a [routerLink]="['/todo', todo._id]"> <span class=" bi bi-pencil-square px-5 "></span></a>
          <span (click)="delete(todo._id)" class=" bi bi-trash px-5 "></span>
        </td>
      </tr>
      </tbody>

    </table>
  </div>
</div>

