<div class="container mt-3">
  <h3 class="m-3">Alle Einträge</h3>
  <div class="table-responsive">
    <table class="m-3 table table-striped table-hover">
      <caption>Alle <code>members</code></caption>
      <thead>
        <tr>
          <th scope="col ">Nr</th>
          <th scope="col ">Vorname</th>
          <th scope="col ">Nachname</th>
          <th scope="col ">E-Mail</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let member of members; let i=index; ">
          <td>{{ i+1 }}</td>
          <td>{{ member.firstname }}</td>
          <td>{{ member.lastname }}</td>
          <td>
            <a [href]="'mailto:' + member.email"><span class="bi bi-envelope px-5"></span></a>
            <a [routerLink]="['/member', member._id]"> <span class=" bi bi-pencil-square px-5 "></span></a>
            <span (click)="delete(member._id)" class=" bi bi-trash px-5 "></span>
          </td>
        </tr>
      </tbody>

    </table>
  </div>
</div>


<!-- *ngFor Direktive für das Auslesen des Arrays-->
