<div *ngIf="!deleted" class="container mt-0 bg-light p-3 shadow"> <!-- "container" deutet darauf, dass der Code das Raster-System des Bootstrap-Frameworks für responsives Layout verwendt -->
  <h2 class="m-3">Alle ToDos</h2>
  <div class="d-flex justify-content-center my-3">
    <button type="button" class="btn btn-lg btn-outline-primary btn-block w-50 text-center" (click)="ClickEvent()">Neue ToDo erstellen</button>
  </div>
  <div class="table-responsive mx-3"> <!-- RWD eingebaut -->
    <table class="table table-bordered table-striped table-hover text-left"> <!-- text-left macht es linksbündig -->
      <caption><code></code></caption>
      <thead>
        <tr>
          <th scope="col" class="col-1">Nr.</th> <!-- scope sagt aus, dass es sich um Spaltenüberschrift handelt -->
          <th scope="col" class="col-4">Aufgabe</th>
          <th scope="col" class="col-4">Beschreibung</th>
          <th scope="col" class="col-2">Fälligkeitsdatum</th>
          <th scope="col" class="col-1">Optionen</th>
        </tr>
      </thead>
      <tbody>
        <!-- Array (todos) wird in der hier ausgelesen -->
        <!-- Wir verwenden dazu wieder die *ngFor-Direktive -->
        <tr *ngFor="let todo of todos; let i=index; ">
          <td>{{ i+1 }}</td>
          <td>{{ todo.aufgabe }}</td>
          <td>{{ todo.beschreibung }}</td>
          <td>{{ todo.frist }}</td>
          <td>
            <a [routerLink]="['/todo', todo._id]"> <span class="bi bi-pencil-square px-2 text-primary"></span></a> <!-- text-primary ist blaue Farbe -->
            <span (click)="delete(todo._id)" class="bi bi-trash px-2 text-danger"></span> <!-- text-danger ist rote Farbe -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="deleted" class="container mt-3 bg-light p-3 shadow">
  <h3>Datensatz wurde gelöscht!</h3>
  <button type="button" class="btn btn-secondary" (click)="reload(false)">Zurück zur Tabelle</button>
</div>

<!-- Z.27: definieren wir einen Routerlink unter Verwendung der _id von todo. Es entsteht der Aufruf der Route /todo/:id, wobei für die :id die entsprechende _id von todo eingesetzt wird -->
<!-- Z.28: Trash icon wird an Click-Ereignis angemeldet, sobald es angeklickt wird, wird die Methode delete(todo._id) aufgerufen -->
